@page "/categories"

<div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title text-dark m-0">Lista de categorías</h3>
        <button class="btn btn-primary" @onclick="OpenCreateModal">Nueva categoría</button>
    </div>
    <div class="card-body mx-15">
        @if(ViewModel.Categories == null)
        {
            <p>Cargando...</p>
        }
        else if (ViewModel.Categories.Count == 0)
        {
            <p>Sin categorias</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in ViewModel.Categories)
                    {
                    <tr id="row-@category.Id" @key="category.Id">
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td class="text-end">
                            <div class="btn-group">
                                    @if (category.IsActive)
                                    {
                                        <button class="btn btn-sm btn-success" @onclick="() => OpenEditModal(category)">Editar</button>
                                        <button class="btn btn-sm btn-outline-danger" @onclick="() => AskDesactivate(category.Id)">Desactivate</button>
                                    }else {
                                        <p>Desactivada</p>
                                    }
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        @if (ShowCreateModal)
        {
        <div id="createModal" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,.5);">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nueva categoría</h5>
                         <button type="button" class="btn-close" @onclick="() => {ShowCreateModal = false; }" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <CreateCategoryForm
                            Model="ActionCategoryViewModel.Category"
                            IsBusy="IsLoading"
                            OnCancel="() => ShowCreateModal = false"
                            OnValidSubmit="CreateAsync" />
                    </div>
                </div>
            </div>
        </div>
        }
        @if (ShowEditModal)
        {
             <div id="editModal" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,.5);">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar categoría</h5>
                            <button type="button" class="btn-close" @onclick="CloseEditModal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <EditCategoryForm
                                Model="ActionCategoryViewModel.Category"
                                IsBusy="IsLoading"
                                OnCancel="CloseEditModal"
                                OnValidSubmit="UpdateAsync" />
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (ShowDesactivateConfirm)
        {
          <div id="confirmModal" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,.5);">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Confirmar</h6>
                        <button type="button" class="btn-close" @onclick="CancelDesactivate" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-0">¿Desea desactivar la categoria?</p>
                    </div>
                    <div class="modal-footer">
                            <button class="btn btn-secondary btn-sm" @onclick="CancelDesactivate">Cancelar</button>
                                    <button class="btn btn-danger btn-sm" @onclick="async () => await ConfirmDesactivateAsync()">Desactivar</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<Common.Views.Tostify.Tostify  @ref="Tostify" />
<Common.Views.Animations.Animations @ref="Animations" />
